/* base.css */

/* Make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* Body and layout setup */
body {
    margin: 0;
    background: #121212 !important;
    /* Force dark background */
    color: #e0e0e0;
    font-family: 'Segoe UI', sans-serif;
}

.glass-morphism {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: all 0.3s ease;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html,
body {
    /*height: 100%;*/
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #29d33c;
    border-radius: 10px;
}

.page-content {
    flex: 1;
}